<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Oficina</title>
</head>
<body>
<h1>Adicionar Nova Oficina</h1>
<form action="/oficinas/adicionar" method="post" th:object="${novaOficina}">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" th:field="*{nome}" required>

    <label for="endereco">Endereço:</label>
    <input type="text" id="endereco" name="endereco" th:field="*{endereco}" required>

    <label for="cep">CEP:</label>
    <input type="text" id="cep" name="cep" th:field="*{cep}" required>

    <label for="telefone">Telefone:</label>
    <input type="text" id="telefone" name="telefone" th:field="*{telefone}" required>

    <label for="cnpj">CNPJ:</label>
    <input type="text" id="cnpj" name="cnpj" th:field="*{cnpj}" required>

    <button type="submit">Adicionar Oficina</button>
</form>
</body>
</html>